.calendare-header{
    color: rgb(4, 221, 192);
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;

    button{
        color:inherit;
        font-size: inherit;
        background: none;
        border: none;
        padding-left: 1em;
        padding-right: 1em;
    }
}

table{
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    
}
thead{
    height: 30px;
    text-align: center;
    color: rgb(202, 11, 84);

    tr{
        color: rgb(202, 11, 84);
    }
}

tr{
    height: 2em;
    color:rgb(112, 111, 111)
}